.singleItem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    
}

.singleItem1{
    display: flex;
    gap: 40px;
}

.textSize{
    font-size: 13px;
    color: rgb(69, 68, 68);
}
.Container{
    width: 50%;
    margin: auto;
    border-bottom: 1px solid rgb(197, 192, 192);
    
}
.input-btn{
    text-align: end;
}
.input-btn>button{
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    padding: 9px 14px;
}
.input-btn>select{
    width: 80px;
    padding: 10px;
}
.subtotal{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 5px;
    border-bottom: 1px dashed rgb(160, 159, 159);
    border-top: 1px dashed rgb(160, 159, 159);
}

.placeOrder{
    width: 50%;
    margin: auto;
    
}
.greenColor{
    padding: 30px 10px;
    background-color: rgb(73, 164, 73);
    color: white;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}