
.container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    gap: 30px;
}
Link{
    font-weight: bolder;
    color: #484848;
}


.leftDiv{
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    width: 40%;
    float: left;
    background-color: #0058a3;
    padding: 30px 90px;
    color: white;
    font-size: 16px;
}

.leftDiv h1 > span{
    color: #fbd914;

}

.rightDiv{
    height: 100%;
    width: 60%;
    float: left;
    padding: 50px 100px 50px 60px;
}


.rightDiv form input {
    margin-top: 5px;
    width: 100%;
    height: 52px;
    font-size: 18px;
    border-radius: 5px;
    border-color: #929292;
}

.rightDiv form  button{
    margin-top: 60px;
    background-color: #0058a3;
    color: white;
    border: none;
}
.rightDiv form  button :hover{
    color: darkblue;
}



.rightDiv h4 {
    margin-top: 80px;
}

.rightDiv button {
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding: 25px;
    border-radius: 35px;
    border-color: #929292;
    font-size: 18px;
}