/* ===== Container ===== */
#agentContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-family: Arial, sans-serif;
}

/* ===== Ask me Button===== */
#agentButton {
  background-color: #283e80;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#agentButton:hover {
  background-color: #1a2b5e;
}

/* ===== Framechat ===== */
#webchatContainer {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 400px;
  height: 600px;

  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);

  overflow: hidden;

  /* HIDE */
  opacity: 0;
  transform: scale(0.85);
  pointer-events: none;
  transition: all 0.25s ease;
}

/* ON */
#webchatContainer.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* ===== Banner ===== */
#chatBanner {
  height: 48px;
  background-color: #283e80;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Iframe ===== */
.copilot-iframe {
  width: 100%;
  height: calc(100% - 48px);
  border: none;
}